{% extends "nav.html" %}
{% load static %}

<!DOCTYPE html>
<html>
  {% block head %}
    <head>
<title>Start a campaign</title>
<meta name="description" content="Affiliate marketing">
<meta charset="UTF">
<meta name="author" content="Imran Abdu">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
<meta http-equiv="refresh" content="216000">
<link rel='icon' href="{% static 'images/icon.png' %}">
<link rel='stylesheet' href="{% static 'css/dashnav.css' %}">
<link rel='stylesheet' href="{% static 'css/settings.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
<script src="https://cdn.tiny.cloud/1/bk7sr0bb5ia1ri4yu2hd05sdqxqces0w22w3ciqwnoc60ep8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="{% static 'js/country.js' %}"></script>
<script src="{% static 'js/editor.js' %}"></script>

<style>
  .prdas-kdf-im-d{
   height:150px;
   position:absolute;
   left:50%;
   top:30%;
   transform: translate(-50%,-50%);
  }
</style>

    
</head>
{% endblock head %}


{% block content %}

<script>
  document.getElementById('niga').innerHTML=`
  <li><a href="" class="timber">Profile</a></li>
            <li><a href="fundingprofile" class="timber">My Contributons</a></li>
            <li><a href="campaigns" class="timber">My Campaign</a></li>
            <li><a href="editprofile" class="timber">Edit Profile</a></li>
            <li><a href="{% url 'logoutuser' %}">Logout</a></li>
  `
  
  document.getElementById('contact1').innerHTML=`
  
  <div tabindex="0" class="menu">        <div class="ll"><img src="{% static "images/icon.png" %}" class="igm-profile"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
      <div class="menu-dropdown">
        <p style="font-size:13px;line-height:10px;color:orange;">Signed in as {{request.user}} 😊</p><hr>
          <a href="{% url 'dashboard' %}">Profile</a>
          <a href="{% url 'campaigns' %}">My campaigns</a>
          <a href="{% url 'fundingprofile' %}">My Contributions </a>
          <a href="{% url 'editprofile' %}"> Edit profile</a>
          <hr>
          <a href="{% url 'logoutuser' %}">Log out</a>
      </div>
  </div>
  
  
  `
  
  </script>
  

  <style>
    @media (max-width: 1000px) {
      #niga{
        display: block;
      }
      .timber{
        display: block;
      }
    }
  </style>


{% block capcontent %}
{% endblock %}



{% endblock %}