{% extends "dashnav.html" %}
{% load static %}
{% block head %}
<title>{{request.user}} | Dashboard</title>
<meta name="description" content="Affiliate marketing">
<meta charset="UTF">
<meta name="author" content="Imran Abdu">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
<meta http-equiv="refresh" content="216000">
<link rel='icon' href="{% static 'images/icon.png' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/dashnav.css' %}">
<style>
#dashboardlink{
    border-bottom:2px solid purple;
}

.footer-100{
  float:right;
  position: relative;
  left:50%;
  transform: translate(-50%,-50%);
}

.imgprofileshite{

  margin-top:10px;
  border:1px solid grey;
  border-radius:100%;
}

.image-profile-pl-u{
  margin-left:5%;
  width:30%;
  float:left;
}

.Fullname-field{
  text-align: center;
}

.about-the-person{
  float: right;
  margin-right:100px;
  width:40%;
}

.campaigns-div{
  border:1px solid silver;
  height: 100px;
}

#adsfsdfjj-ds-fsd{
margin-top:30px;
}

.name-of-the-things-f-c{
  text-align: center;
}


.gihiad-gbi{
  margin-left:10px;
  margin-top:10px;
  font-size:12px;
}

@media(max-width:1020px){
  .image-profile-pl-u{
  width:100%;
  float:none;
  margin-left:0%;
}

.imgprofileshite{

  margin-left:0px;
  margin-top:10px;
}

.about-the-person{
  float: none;
  margin-right:100px;
  width:100%;
}


}

</style>
{% endblock head %}

<body>
{% block everything %}

<div class="sdd">

<div class="all-divs">
<center>
<div class="image-profile-pl-u">
<img src="{% static 'images/icon.png' %}" width="280px" class="imgprofileshite">
{% if user.is_authenticated %}
    <h3 class="Fullname-field"><b>{{firstname}} {{lastname}}</b></h3>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}

</div>
</div>

<div class="about-the-person">
<h6 style="margin-left:10px"><i class="fa fa-bar-chart" aria-hidden="true"></i> Status</h6>
<div class="campaigns-div" style="height: 200px;">
<p class="gihiad-gbi">Campaigns</p>
<p class="name-of-the-things-f-c">You do not have any campaigns</p>
</div>

<div class="campaigns-div" id="adsfsdfjj-ds-fsd">
  <p class="gihiad-gbi">Contributions / Funded</p>
  <p class="name-of-the-things-f-c">You have not funded any campaigns yet</p>
  </div>

  <div class="campaigns-div" id="adsfsdfjj-ds-fsd">
    <p class="gihiad-gbi">Accounts</p>
    <p class="name-of-the-things-f-c">Go to <a href="{% url 'editprofile' %}" style="color: rgb(255, 140, 0);">Edit profile</a> and add your Social accouts</p>
    </div>

    </div>






</div>

</div>







{% endblock %}
