


<br><br>
<div class="head-of-all-footers">

<div class="div-footer1">
  <div class="div-footer">
     
      <div class="email-subs">
         <h4 class="shiba"> <img src="{% static 'images/icon.png' %}" alt="diversefounders" width="60px" style="border-radius: 100px;">   Diversefounders</h4>
          <center>
          <form>
       <label class="fot-label-emial">Join our news letter to get notified</label><br>
       <input type="email" placeholder="Eamil" class="fo-input-for-email-sub"><br>
          </form>
          </center>
  
      </div>
  
  
  <div class="all-the-footer-links">
      
      <div class="the-letters">
      
  
      <li><a href="#">About</a></li>
      <li><a href="#">Partner with us</a></li>
      <li><a href="#">Help Center</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Press</a></li>
   
      </div>
  
  
  </div>
  <div class="shito">
     <li><a href="#">Login</a></li>
     <li><a href="#">Signup</a></li>
     <li><a href="#">Contactus</a></li>
  </div>
  </div>
  
  
  
  <div class="the-downers">
  
  <li style="float:right">© 2021 diversefounders, Inc. All Rights Reserved</li><li style="float: right;"><a href="">Privacy Policy</a></li><li style="float: right;"><a href="">Terms of Use</a></li>
  
  </div>
  
  
  </div>
  </div>
  <style>

    .head-of-all-footers{
      position: static;
          z-index: -1;
          top:1000px;
    }



    .shiba{
      margin-top:100px;
    }
  
      .the-downers li{
          display: inline-block;
          margin-right: 20px;
      }
  
      .the-letters{
          margin-left: 40px;
          margin-top:60px;
          float:left;
          width: 400px;
      }
       .shito{
          float:left;
          margin-top:60px;
      }
  
      .fot-label-emial{
        font-size:50px;
      }
  
      .fo-input-for-email-sub{
        width:500px;
        padding-top:15px;
        padding-bottom:15px;
        border-radius: 100px;
        padding-left:10px;
        border:none;
      }
  
  
      .fo-input-for-email-sub:focus {
    transition: 0.5s;
    border: 1px solid rgb(45, 113, 180) !important;
    box-shadow: 0 0 3px rgb(65, 131, 196) !important;
    -moz-box-shadow: 0 0 3px rgb(65, 131, 196) !important;
    -webkit-box-shadow: 0 0 3px rgb(65, 131, 196) !important;
    }
    
    .fo-input-for-email-sub:focus{
    outline-offset: 0px !important;
    outline: none !important;
    }
  
      .div-footer{
          background-image: linear-gradient(80deg,#2E3192 , #1BFFFF);
          color:white;
          height: 35vw;
          width:100vw
      }
  
      .div-footer{
          list-style: none;
      }
  
      .div-footer li a{
          color:white;
          
      }
  
      @media(max-width:1020px){
          .the-downers li{
          display: inline-block;
          margin-right: 20px;
      }
  
      .the-letters{
          margin-left: 40px;
          margin-top:60px;
          float:none;
          width: 100%;
      }
       .shito{
          float:none;
          margin-top:40px;
          margin-left:40px;
      }
  
      .fot-label-emial{
        font-size:40px;
      }
  
      .fo-input-for-email-sub{
        width:60%;
        padding-top:15px;
        padding-bottom:15px;
        border-radius: 100px;
        padding-left:10px;
        border:none;
      }
      }
  </style>


