{% extends "nav.html" %}
{% block head %}

<head>
  <title>Projects</title>
  <meta name="description" content="Affiliate marketing">
  <meta charset="UTF">
  <meta name="author" content="Imran Abdu">
  {% load static %}
  <link rel='icon' href="{% static 'images/icon.png' %}">
  <link rel='icon' href='{% static ' images/icon.png' %}'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  <meta http-equiv="refresh" content="216000">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel='stylesheet' href="{% static 'css/projects.css' %}">
</head>
{% endblock head %}

<body>
  {% block navigation %}


  {% block content %}
  <style>

     
  </style>





<center>
    <div class="col-rt-3 equal-height">
      <div class="sb-example-3">
        <!-- partial:index.partial.html -->
        <div class="search__container">

          <input class="search__input" type="text" placeholder="Search Diversefounders">
        </div>
      </div>
    </div>


    </center>
 

 

 

 <div class="dropdown">
   <p class="df-e-re-e3"><i class="fa fa-filter" aria-hidden="true" id="filter-the-products"></i> Filter</p>
  <div class="dropdown-content">


    <form>
  <div class="form-check form-check-inline">
    <input type="radio" id="meats--bacon" name="Meats" value="Bacon" checked>
    <label class="form-check-label btn btn-danger" for="meats--bacon" >All</label>
  </div>
  
  <!-- Beef -->
  <div class="form-check form-check-inline">
    <input type="radio" id="meats--beef" name="Meats" value="Beef">
    <label class="form-check-label btn btn-danger" for="meats--beef">Newest</label>
  </div>



  <!-- Meatball -->
  <div class="form-check form-check-inline">
    <input type="radio" id="meats--meatball" name="Meats" value="Meatball">
    <label class="form-check-label btn btn-danger" for="meats--meatball">Oldest</label>
  </div>


      <p>Days left</p>
  <!-- none -->
  <div class="form-check form-check-inline">
    <input type="radio" id="meats--chicken" name="min" value="Chicken" checked>
    <label class="form-check-label btn btn-danger" for="meats--chicken" >None</label>
  </div>


  <div class="form-check form-check-inline">
    <input type="radio" id="meats--maxdays" name="min" value="maxdays">
    <label class="form-check-label btn btn-danger" for="meats--maxdays">Max days left</label>
  </div>
  
  <!-- min -->
  <div class="form-check form-check-inline">
    <input type="radio" id="meats--sausage" name="min" value="Sausage">
    <label class="form-check-label btn btn-danger"  for="meats--sausage">Min days left</label>
  </div>

  <p>Goal</p>
  <div class="form-check form-check-inline">
    <input type="radio" id="meats--none1" name="high" value="none1" checked>
    <label class="form-check-label btn btn-danger" for="meats--none1">None</label>
  </div>
  <!-- high -->
  <div class="form-check form-check-inline">
    <input type="radio" id="meats--pepperoni" name="high" value="Pepperoni">
    <label class="form-check-label btn btn-danger" for="meats--pepperoni">Highest goal</label>
  </div>
  
  <!-- low -->
  <div class="form-check form-check-inline">
    <input type="radio" id="meats--salami" name="high" value="Salami">
    <label class="form-check-label btn btn-danger" for="meats--salami">Lowest goal</label>
  </div>
</fieldset>

<button class="button-for-search-df-s">Search</button>

</form>







  </div>
</div>
<hr>






  <div>
    {% for campaign in campaigns %}
    <p>{{campaign.url}}</p>
    {% endfor %}
  </div>


  
  {% endblock %}


  {% endblock %}