{% load static %}
{% block like %}

<style>


.the-like-images-ha{
    height: 20px;
    margin-left:10px;
    margin-top:4px;
    cursor: pointer;
}

.the-like-images-ha:hover{
    transform: scale(1.5);
    
}

#Dsf-sdf-r{
    cursor: pointer;
    font-size: 18px;
    margin-top:5px;
}

#Dsf-sdf-r:hover{
    transform: scale(1.5);
}




.igm-profile{
  height: 25px;
  }
  
  .ll{
    cursor: pointer;
  }
  
  .menu {
    position: relative;
    display: inline-block;
    z-index: 2;
    padding:0px;
    margin:0px;
    outline: 0;
    text-align:left;

  }
  
  /* style for the button */
  .menu:before {
      background-size:20px;
      color:white;
      padding: 5px 10px;
      border: 1px solid #555;
      border-radius:3px;
  }
  
  .menu:focus { pointer-events:none; }
  
  /* If :focus detected the dropdown menu is displayed by making it visible */
  .menu:focus .menu-dropdown { opacity:1; visibility:visible; }
  
  /* style for the dropdown box */
  .menu-dropdown {
      margin:3px 0 0 0;
      padding: 10px;
      pointer-events: auto;
      position: absolute;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: visibility 1s;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      width:130px;
    border:1px solid grey;
     padding:5px;
     border-radius: 20px;
    background-color: rgb(255, 255, 255);
     color: white;
     }
  
  /* style the links in the dropdown */
  .menu-dropdown a {
      background:transparent;
      border:none;
      outline:0;
      display:block;
      color:white;
      text-decoration:none;
      width:160px;
      padding-top:3;
      padding:0px;
      line-height: 40px;
  } 
  
  .menu-dropdown a:hover{
    color:orange
  }


  @media (max-width: 1000px) {
     #contact1{
       display: none;
     }

  }
  @media (max-width: 1000px) {
    #niga{
      display: block;
    }
    .timber{
      display: block;
    }
  }
</style>


<div class="the-king-of-all-imos">
    <div>
    <i class="fa fa-bookmark-o" aria-hidden="true" id="Dsf-sdf-r"></i><br>
    <i class="fa fa-thumbs-o-up" aria-hidden="true" id="Dsf-sdf-r"></i><br>
    
    </div>

<div tabindex="0" class="menu">   
         <div class="ll"><i class="fa fa-ellipsis-h" aria-hidden="true"  id="Dsf-sdf-r"></i></div>
    <div class="menu-dropdown">


        <img src="{% static 'images/dislike.png' %}" class="the-like-images-ha">
        <img src="{% static 'images/heart.png' %}" class="the-like-images-ha">
        <img src="{% static 'images/wow.png' %}" class="the-like-images-ha">
    </div>
</div>
</div>



<script>


</script>


{% endblock like %}